@font-face {
  font-family: 'Open Sans';
  src: url(https://fonts.gstatic.com/s/opensans/v35/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkWV4ewJER.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


body {
    background-color: #f6f9fd;
    font-family:"Open Sans", Times, serif;
  
  }

  .anchura{
    width: 50%;
    margin: auto;
  }


.titulo h1{
  font-size: 80px;
  margin-top:200px;
  text-align:center;
}
.titulo h2 {
  text-align:center;
}

#yellow{
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
  #image{
    background-color: #fff;
    display:flex;
    justify-content: center;
    height: 600px;

}
    
#navbar {
    background-color: #f6f9fd;
}

#LOGO {
  width: 6rem;
	height: 2rem;
 

  }
  #containerlogo {
    margin:auto;
   
  }

  #button-nav{
    display: flex;
    justify-content:flex-end ;
    margin: auto;
    width: 50%;
  }

  #pags-nav .nav-link {
    font-size: medium;
    font-weight: bold;
    color: black;
  }

  #pags-nav .nav-link:hover {
    color: #ff556e;
  }
  
  #download-btn1 {
    color: #ff556e;
    font-weight: bold;
    background-color: #f7fafd;
    border-color: #ff556e;
    border-width: 3px;
    box-shadow: #ff556e;

  }
  #download-btn2{
    background-color: #ff556e;
    border-color: #ff556e;
    border-width: 20px; 
  }

#download-btn3{
  background-color: #ff556e;
  border-color: #ff556e;
  border-width: 20px;
  display: flex;
  justify-content: center;
  
}
.botones{
  display: flex;
  justify-content: center;
  align-items: center;
}


#apple{
  height: 1.5rem;
  width: 1.5rem;
}

#play-solid{
  height: 1.5rem;
  width: 1.5rem;

}

.iconos{
  
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  

}
 

#users{
   background-color:#f7fafd;
    color:#aa7eec;
    width:120px;
    height:120px;
    border-radius: 30%;
    
}
#code{
  background-color:#f7fafd;
    width:120px;
    height:120px;
    border-radius: 30%;

}
#gear{
  background-color:#f7fafd;
    width:120px;
    height:120px;
    border-radius: 30%;
}

#comments{
  background-color: #f7fafd;
  width: 120px;
  height: 120px;
  border-radius: 30%;

}
  #rocket{
    background-color:#f7fafd;
    width:120px;
    height:120px;
    border-radius: 30%;
  }

  .titulo-icono{

    background-color: aquamarine;
    font-size: 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #app1{
    display:flex;
    justify-content:flex-start
    flex-direction: row;
     }

  #anchura2{
    background-color: black;
    display:flex
    flex-direction:row;
    justify-content:flex-start; 
  }
  
    


  #text2{
    color:grey;
    display:flex;
    justify-content:flex-end;
    flex-direction: row;
    width: 50%;
    margin: auto;
  
  }
  #text3{
    color:grey;
    display:flex;
    justify-content:flex-end;
    flex-direction: row;
    width: 50%;
    margin: auto;
  }
#list{
    color:grey;
    display:flex;
    justify-content:flex-end;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
.a{

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
   
}

#text3 {
font-size: 35px;
}

.section1{

  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}